/*
Author:     Udeze Kene @Udezekene
Description: Single page for BudgIT's oil & gas page.
Tags: #BestDesignEver, #MyHartMySole, #Proudlin
Release:    23.04.2014
-----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');
/** Media Query **/
/**** Animation *****/
.animate-something {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.i-animat {
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: .07s;
  -webkit-transition-duration: .07s;
  -o-transition-duration: .07s;
  transition-duration: .07s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.clear {
  display: table;
  clear: both;
  content: " ";
}
html,
body {
  position: relative;
  height: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  color: #444444;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  vertical-align: baseline;
  background: #fff;
}
* input,
* textarea {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -khtml-user-select: initial;
  -ms-user-select: initial;
}
a {
  text-decoration: none !important;
  outline: none;
}
a:active {
  background-color: transparent;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: 500;
}
ul,
li {
  padding: 0;
  margin: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0);
  box-shadow: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.flexbox-container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}
@media only screen and (max-width: 529px) {
  .flexbox-container {
    margin: 0 15px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .flexbox-container {
    margin: 0 15px;
  }
}
.flexbox-container.fullwidth {
  max-width: 100%;
  margin: 0;
}
header {
  padding: 20px 0;
  margin-bottom: 100px;
}
header .header--wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header--logo {
  max-width: 150px;
}
@media only screen and (max-width: 529px) {
  header .header--logo {
    max-width: 100px;
  }
}
header .header--logo img {
  width: 100%;
}
header .header--navigation li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
}
header .header--navigation li:last-child {
  margin: 0;
}
header .header--navigation li a {
  color: #777777;
}
header .header--navigation li a:hover {
  color: #E03233;
}
@media only screen and (max-width: 529px) {
  header .header--navigation li {
    font-size: 12px;
  }
  header .header--navigation li a {
    color: #141414;
  }
}
#hero {
  padding-bottom: 60px;
}
#hero > div {
  justify-content: space-between;
}
@media only screen and (max-width: 529px) {
  #hero > div {
    flex-direction: column;
  }
}
#hero .hero--text {
  max-width: 50%;
}
@media only screen and (max-width: 529px) {
  #hero .hero--text {
    max-width: 100%;
  }
}
#hero .hero--text h1 {
  font-size: 2.6em;
  margin: 0;
  margin-bottom: 50px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #hero .hero--text h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 529px) {
  #hero .hero--text h1 {
    font-size: 2em;
  }
}
#hero .hero--text h1 span:nth-child(1) {
  color: #26408E;
}
#hero .hero--text h1 span:nth-child(2) {
  color: #E03233 ;
}
#hero .hero--text h1 span:nth-child(3) {
  color: #04BC3E;
}
#hero .hero--text p {
  font-size: 1.1em;
  margin-bottom: 30px;
}
#hero .hero--text p a {
  color: inherit;
  text-decoration: underline !important;
}
#hero .hero--participate {
  max-width: 30%;
}
@media only screen and (max-width: 529px) {
  #hero .hero--participate {
    max-width: 100%;
    margin-top: 50px;
  }
}
#image-gallery {
  display: table;
  clear: both;
  content: " ";
  width: 100%;
}
#image-gallery > div {
  flex-wrap: wrap;
}
#image-gallery .image {
  flex-basis: 25%;
  background-size: cover;
  height: 300px;
  flex-grow: 1;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #image-gallery .image {
    height: 200px;
  }
}
@media only screen and (max-width: 529px) {
  #image-gallery .image {
    height: 180px;
    flex-basis: 50%;
  }
}
#image-gallery .image:nth-child(2) {
  flex-basis: 50%;
  max-width: 50%;
}
.hero--action {
  margin-bottom: 10px;
}
.hero--action a {
  border: 1px solid rgba(20, 20, 20, 0.1);
  display: block;
  padding: 20px;
  background: #FAFBFC;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.hero--action a h4 {
  color: #333333;
  font-weight: 300;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.hero--action a p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #9E9FAA;
}
.hero--action a:hover {
  background: rgba(38, 64, 142, 0.01);
  transform: translateY(-2px);
  box-shadow: 0px 3px 6px rgba(38, 64, 142, 0.1);
}
.hero--action a:hover h4 {
  color: #E03233;
}
.hero--button {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 529px) {
  .hero--button {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero--button a {
    margin-bottom: 20px;
  }
}
.hero--button .button {
  border: 1px solid rgba(53, 80, 162, 0.5);
  padding: 12px 25px;
  margin-right: 50px;
  border-radius: 3px;
  color: #3550A2;
  font-size: .8em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.hero--button .button:hover {
  color: #fff;
  background: #3550A2;
}
.footer--links {
  padding: 40px 0;
}
.footer--links ul li {
  display: inline-block;
  font-size: .8em;
  margin-right: 50px;
  color: #969696;
}
@media only screen and (max-width: 529px) {
  .footer--links ul li {
    margin-bottom: 30px;
  }
}
.footer--links ul li a {
  display: block;
  color: #141414;
  text-decoration: underline !important;
  text-transform: uppercase;
  padding-top: 5px;
}
.footer--links ul li a:hover {
  color: #E03233;
}
/*# sourceMappingURL=style.css.map */