@import url(global.less);


header{
	
	padding: 20px 0;
	margin-bottom: 100px;
	position: absolute;
	width: 100%;
	
	.header--wrapper{
		flex-direction:row;
		align-items:center;
		justify-content:space-between;
	}
	.header--logo{
		max-width: 150px;
		@media @mobile{
			max-width: 100px;
		}
		img{
			width: 100%;
		}
	}
	.header--navigation{
		li{
			display: inline-block;
			margin-right: 20px;
			text-transform: uppercase;

			&:last-child{
				margin: 0;
			}
			a{
				color: #777777;
				&:hover{
					color: @usable-red;
				}
			}
			@media @mobile{
				font-size: 12px;
				a{
					color: @dark;
				}
			}
		}
		
	}


}


#hero{
	padding-bottom: 60px;
	padding-top: 160px;
	>div{
		justify-content:space-between;
		@media @mobile{
			flex-direction:column;
		}
	}
	.hero--text{
		max-width: 50%;
		@media @mobile{
			max-width: 100%;
		}

		h1{
			font-size: 2.6em;
			margin: 0;
			margin-bottom: 50px;
			
			@media @tablet{
				font-size: 2em;
			}

			@media @mobile{
				font-size: 2em;
			}
			

			span{
				&:nth-child(1){
					color: #26408E;
				}
				&:nth-child(2){
					color:#E03233 ;
				}
				&:nth-child(3){
					color: #04BC3E;
				}
			}
		}
		p{
			font-size: 1.1em;
			margin-bottom: 30px;
			a{
				color: inherit;
				text-decoration: underline !important;
			}
		}
	}

	.hero--participate{
		max-width: 30%;
		@media @mobile{
			max-width: 100%;
			margin-top: 50px;
		}
	}
}

#image-gallery{
	.clear;
	width: 100%;
	>div{
		flex-wrap:wrap;
	}
	.image{
		flex-basis:25%;
		background-size: cover;
		// max-width: 33.33%;
		height: 300px;
		flex-grow:1;

		@media @tablet{
			height: 200px;
		}
		@media @mobile{
			height: 180px;
			flex-basis:50%;
		}

		&:nth-child(2){
			flex-basis:50%;
			max-width: 50%;
		}
	}
}

.hero--action{
	margin-bottom: 10px;

	a{
		border: 1px solid fade(@dark,10%);
		display: block;
		padding: 20px;
		background: #FAFBFC;
		border-radius: @radius;
		.transition;

		h4{
			color: #333333;
			font-weight: 300;
			margin-bottom: 10px;
			.transition;
		}
		p{
			padding: 0;margin: 0;
			font-size: 12px;
			color: #9E9FAA;
		}
		&:hover{
			background: rgba(38, 64, 142, .01);
			transform: translateY(-2px);
    	box-shadow: 0px 3px 6px rgba(38, 64, 142, .1);

    	h4{
    		color: @usable-red;
    	}
		}

	}
}

.hero--button{
	display: flex;
	align-items:center;
	@media @mobile{
		flex-direction:column;
		align-items:flex-start;

		a{
			margin-bottom: 20px;
		}
	}

	.button{
		border: 1px solid fade(@usable-blue, 50%);
		padding: 12px 25px;
		margin-right: 50px;
		border-radius: @radius;
		color: @usable-blue;
		font-size: .8em;
		.transition;
		&:hover{
			color: #fff;
			background: @usable-blue;
		}
	}
}


.footer--links{
	padding: 40px 0;
	
	ul{
		li{
			display: inline-block;
			font-size: .8em;
			margin-right: 50px;
			color: #969696;

			@media @mobile{
				margin-bottom: 30px;
			}

			a{
				display: block;
				color: @dark;
		    text-decoration: underline !important;
		    text-transform: uppercase;
		    padding-top: 5px;
		    &:hover{
		    	color: @usable-red;
		    }


			}
		}
	}
}